{% extends 'base1.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <style>
        h1   {color: #07294d;}
        h1   {font-family: "Montserrat", Sans-serif;}
        h1   {font-size: 20px;}
        h1   {font-weight: 550;}

    </style>
    <div class="header-top">

            <div class="header-right">
                <h1>Bienvenue sur la plateforme inscrivez-vous ! </h1>
            </div>
    </div>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.agreeTerms) }}
    <br>
    <button type="submit" class="btn">Sinscrire</button>
    {{ form_end(registrationForm) }}


{% endblock %}
