<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://www.polytecsousse.tn/wp-content/plugins/edubin-core/assets/css/bootstrap.min.css?ver=8.9.22">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('messages_new') }}">Contactez-nous</a>
                </li>
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link" href="{{ path('about')}}">En savoir plus</a>#}
                {#                </li>#}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="header-left">
        <img width="180" height="90"   src="{{ asset('Images/cropped-logo-polytech.png') }}" class="custom-logo" alt="Ecole polytechnique de sousse" decoding="async">
    </div>
</div>
{% block body %}
{% endblock %}
<style>{% include 'style1.css' %}</style>
<style>{% include'bootstrap.min.css' %}</style>

</body>

</html>
