<div class="nav flex-row nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link " id="v-pills-home-tab" data-toggle="pill" href="{{ path('formateurs_index') }}" role="tab" aria-controls="v-pills-home" aria-selected="true">Formateurs</a>
  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="{{ path('suggestions_index') }}" role="tab" aria-controls="v-pills-profile" aria-selected="false">Suggestions</a>
  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="{{ path('messages_index') }}" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="{{path('formations_index1')}}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Gérer les formations</a>
    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="{{path('commentaires_index')}}"role="tab" aria-controls="v-pills-messages" aria-selected="false">Commentaires</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="{{path('inscription_index')}}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Inscriptions</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="{{ path('home') }}" role="tab" aria-controls="v-pills-settings" aria-selected="false">Se déconnecter</a>
</div>